<div class="row">
{{!-- article --}}
  <div class="bg-light p-3 m-1">
    
    <h2 class="blog-post-title">{{title}}</h2>
    <p class="blog-post-meta">{{format_date date_created}} by {{user.name}}</p>
    <p>{{content}}</p>
  </div>

{{!-- comment --}}
<div class="bg-light p-3 m-1">
    
    {{#each comments as |comment| }}
    <p class="blog-post-meta">COMMENT HERE: {{comment.comment}}.</p>
    <p class="blog-post-meta">{{format_date comment.date_created}} by {{comment.user.name}}</p>
    {{/each}}
  </div>

</div>